<div style="border: 1px solid #dddddd; width: 100%; height: 120px ;overflow: auto; position: absolute; background: lightgray"
     ng-show="phoneSearch">
    Search results for
            <span style="font-style: italic; font-weight: bold">
                {{phoneSearch}}
            </span>
    <br/>

        <div id="{{$index}}" style="font-size: medium"
           onmouseover="this.style.backgroundColor = '#5bc0de';
                        this.style.textDecorationColor = 'white';"
           onmouseout="this.style.backgroundColor = 'white'"
           ng-click="clearSearch()"
           ng-repeat="phone in phones | filter : phoneSearch">
            <a ng-href="#/phones/{{phone.id}}">
                {{phone.name}}
            </a>
        </div>

</div>